.featureWrapper {
    display: flex;
    margin-left: 200px;
}

.featureContainer {
    width: 50%;
    margin-right: 200px;
}

.featureText {
    font-family: 'open sans', sans-serif;
}

.featureText h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 53px;
}

.featureText h2 {
    font-weight: 700;
    font-size: 28px;
    color: #565656;
    line-height: 39px;
}

.spanText {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #B8151B;
}

.icons {
    padding: 3px;
    align-items: baseline;
}

.spanPets {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.featuretteText {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.agent {
    width: 50%;
    margin-top: 30px;
}

.agentDets {
    background-color: #F5F5F5;
    width: 530px;
    height: 320px;
    background: #F5F5F5;
    border-radius: 8px;
}

.agentImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 50px;
    padding: 5px;
}

.agentDetsSpan {
    font-family: 'open sans' sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #E4343B;

}
.agentEnquire {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.agentBookingBts {
    margin-top: 50px;
}